* {
	margin:0;
}
.body-div{
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 3em;
}

/* The part where we got the RPS stuff */
#play-section{
	background: gray;
	margin: 30px;
	display: flex;
	flex-direction: column;
}

#player-choice {
	height: 190px;
	width: 90%;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 40px;
	background: white;
}

#play-section > ul {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	margin-bottom: 25px;
	width: 85%;
	gap: 45px;
	list-style-type: none;
}

.choices {
	height: 130px;
	width: auto;
	border: 4px solid transparent;
}

.choices:hover {
	box-shadow: 0 2px 6px rgba(0,0,0, 0.3);
  	background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, yellow, orangered) border-box;
  	border-radius: 15px;
  	border: 4px solid transparent;
}

.choices.active {
	box-shadow: 0 2px 6px rgba(0,0,0, 0.3);
  	background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, lime, turquoise) border-box;
  	border-radius: 15px;
  	border: 4px solid transparent;
}

#confirmation {
	align-self: end;
	margin-top:10px;
	margin-bottom: 5px;
	margin-right: 5px;
	color: white;
	font-weight: 700;
	background: black;
	border-radius: 5px;
	border: 2px solid transparent;
	padding: 15px 22px;
}

#confirmation:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border: 2px solid white;
}
.result {
    box-shadow: 0 2px 6px rgba(0,0,0, 0.3);
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, var(--random-color-1, lime), var(--random-color-2, turquoise)) border-box;
    border-radius: 5px;
    border: 4px solid transparent;
    height: 70px;
    flex: 0 0 auto;
    width: auto;
}

#results {
	overflow: scroll;
	margin-top: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 524px;
}
